.panel
  .panel-heading
    %h4
      理事会成员 & 副会长单位
      =link_to icon('tree'), cat_path(@news_cat.ename)
  .panel-body
    .carousel.slide{'data-ride'=> 'carousel', id: div, style: "height: 50px; margin: 0 auto"}
      .carousel-inner
        .item.active
          .row
            -imgs[0..5].each_with_index do |img, i|
              .col-xs-4.col-md-2
                %a.thumbnail{href: img.url}
                  -if img.logo.url =~ /missing.png/ 
                    =holder_tag '200x50', img.name, 'sky'
                  -else
                    =image_tag img.logo.url(:thumb), style: "height: 50px; width:100%;"
        -for i in 1..(imgs.length/6) do 
          .item
            .row
              - t = (imgs.length> (i+1)*6) ? 6 : (imgs.length - 6*i)
              -t.times do |j|
                -img =imgs[i*6 +j]
                .col-xs-4.col-md-2
                  %a.thumbnail{href: img.url}
                    -if img.logo.url =~ /missing.png/ 
                      =holder_tag '200x50', img.name, 'sky'
                    -else
                      =image_tag img.logo.url(:thumb), style: "height: 50px; width:100%;"
      %a.left.carousel-control{href:"##{div}",role:"button", 'data-slide'=>"prev"}
        %span.glyphicon.glyphicon-chevron-left{'aria-hidden'=> "true"}
        %span.sr-only
          Previous
      %a.right.carousel-control{href:"##{div}",role:"button", 'data-slide'=>"next"}
        %span.glyphicon.glyphicon-chevron-right{'aria-hidden'=> "true"}
        %span.sr-only
          Next
              