.bg-primary
  =icon('share') 
  %h4.text-center(style='color:#fff')
    新闻 & 通告
.row#cascad
  -news.each do |n|
    .col-xs-6.col-md-4.item
      .thumbnail
        %a{href: cat_page_path(n)}
          -unless n.first_img.nil? 
            =image_tag n.first_img
          .caption
            %h4=n.title
            %p= content_preview n.content, 100
:javascript
  $(document).ready(function(){
    var msnr= new Masonry ('#cascad', {itemSelector:'.item'});
  });
  