.col-xs-11.border-default
  %h3 
    新闻
    %span.text-primary &
    通告
  .row
    .col-sm-4
      =image_tag 'newspaper_pictogram.svg', {height: 200, width:200}
    .col-sm-8.large-link
      %ul.list-unstyled
        -@news.each do |news|
          %li
            %span.label.label-default=news.happend_at
            =link_to news.title, news
        %li
          %a.pull-left{href: news_index_path}
            %span.text-primary.glyphicon.glyphicon-circle-arrow-right