.row
  .col-sm-6
    -if news.with_imgs.length > 0
      #slide.carousel.slide{'data-ride'=> 'carousel'}
        %ol.carousel-indicators
          -for i in 0..(news.with_imgs.length) do 
            %li{'data-target'=>'#slide', 'data-slide-to'=> i, :class => "#{'active' if i==0}"}
        .carousel-inner
          -news.with_imgs.each_with_index do |n, i|
            .item{:class=>"#{'active' if i==0}"}
              =image_tag n.thumb_img_url, {height: 200, width: 400 }
              .carousel-caption
                %h5=link_to n.title, cat_page_path(n)
        %a.left.carousel-control{href: '#slide', 'data-slide'=>'prev'}
          =glyphicon('chevron-left')
        %a.right.carousel-control{href: '#slide', 'data-slide'=>'next'}
          =glyphicon('chevron-right')
  .col-sm-6.large-link
    %ul.list-unstyled
      -news.each do |n|
        %li
          %span.label.label-default=n.edit_at
          =link_to n.title, cat_page_path(n)
      -if news.length > 0 
        %li
          %a.pull-left{href: cat_path(:news)}
            %span.text-primary.glyphicon.glyphicon-circle-arrow-right
