.panel
  .panel-heading
    %h4
      新闻 & 通告 
      =link_to icon('eye'), cat_path(@news_cat.ename)
  .panel-body
    .row
      .col-sm-6
        -if news.with_imgs.length > 0
          - n=news.with_imgs[0]
          .thumbnail
            %a{href: cat_page_path(n)}
              -unless n.first_img.nil? 
                =image_tag n.first_img
              .caption
                %h4=n.title
      .col-sm-6
        %ul.list-unstyled
          -news.each do |n|
            %li(style='border-bottom: 1px dashed; margin-bottom:3px;')
              %p
                %strong{style:'font-size: 1.2em;'}=link_to n.title, cat_page_path(n)
                %small="#{time_ago_in_words(n.edit_at)}前"
                
        %p
          %a.btn-more-circle.pull-left{href: cat_path(:news)}
            =icon('chevron-right')
