.row
  .col-lg-12
    .widget(style='background-color: #6a4248')
      .row
        .col-sm-6
          .sticky-icon=icon('share-alt', '', class: 'fa-2x') 
          -if news.with_imgs.length > 0
            #slide.carousel.slide{'data-ride'=> 'carousel'}
              %ol.carousel-indicators
                -for i in 0..(news.with_imgs.length) do 
                  %li{'data-target'=>'#slide', 'data-slide-to'=> i, :class => "#{'active' if i==0}"}
              .carousel-inner
                -news.with_imgs.each_with_index do |n, i|
                  .item{:class=>"#{'active' if i==0}"}
                    =image_tag n.thumb_img_url, {height: 200, width: 400 }
                    .carousel-caption
                      %h5=link_to n.title, cat_page_path(n)
              %a.left.carousel-control{href: '#slide', 'data-slide'=>'prev'}
                =glyphicon('chevron-left')
              %a.right.carousel-control{href: '#slide', 'data-slide'=>'next'}
                =glyphicon('chevron-right')
        .col-sm-6.large-link
          %h4
            新闻
            %span.text-primary &
            通告
          %hr
          %ul.list-unstyled
            -news.each do |n|
              %li(style='border-bottom: 1px dashed;')
                %p=link_to n.title, cat_page_path(n)
                %p
                  %small="#{time_ago_in_words(n.edit_at)}前"

            -if news.length > 0 
              %li
                %a.btn-more-circle.pull-left{href: cat_path(:news)}
                  =icon('chevron-right')
