%ol.breadcrumb
  %li= link_to @cat.name, cat_path(@cat.ename)
  -if @sub
    %li.active=@sub.name
    
-if @pages.count > 1
  .panel.panel-body
    -@pages.each do |p|
      .media.border-default
        -unless p.thumb_img_url.nil?
          =image_tag p.thumb_img_url, class: 'media-object pull-left', style: 'width: 120px;'
        .media-body
          %h3=link_to p.title, cat_path(first_cat: p.category.parent.ename, second_cat: p.category.ename, pid: p.id)
          %p
            = content_preview p.content, 100
            ='...'