-content_for :leftnav do 
  .list-group
    -cat.sub_categories.each do |c|
      =link_to c.name, cat_path(first_cat:cat.ename, second_cat:c.ename), class: "list-group-item #{'active' if params[:second_cat]==c.ename}"