.container
  .row
    .col-xs-2
      %ul.nav.nav-pills.nav-stacked
        %li
          =link_to '关于', '#'
        %li
          =link_to '章程', '#'
    .col-xs-5
      %ol.breadcrumb
        %li
          =link_to '首页', root_path
        %li.active
          = '关于'
      %section
        = Page.path('/home/about').content.html_safe