.container
  .row
    .col-xs-2
      %ul.nav.nav-pills.nav-stacked
        %li
          =link_to '关于', '#'
        %li
          =link_to '章程', '#'
    .col-xs-5
      %ol.breadcrumb
        %li
          =link_to '首页', root_path
        %li.active
          = '关于'
      %section
        %h3 概况
        %p 
          武汉房地产中介协会是由武汉地区具有合法资格的中介机构或组织自愿组成的地方性、行业性、非盈利性地方组织。
        %p 本协会接受武汉市房产局的业务指导和武汉市民政局的监督管理。      
        %p 办公地址：武汉房地产交易大厦2010室（高雄路166号，香格里拉酒店旁）
        %h4 协会宗旨
        %p 
          组织本市房地产经纪工作者研究房地产中介服务的理论与实践，把握行业发展的趋势，规范房地产服务行为，提高会员的自律能力，树立房产经纪人新形象，提高行业社会地位，争取行业发展空间，加速房地产流通、促进房地产市场健康有序的发展。
        %h3 发展历程
        %dl 
          %dt 1996年5月18日 
          %dd 成立
          %dt 2001年5月
          %dd 第二届理事会换届时间：，第一、二届理事会会长杨光义，常务副会长皮东山。
  　　 
  3、2003年4月因特殊原因协会召开会员大会，对第二届理事会领导机构进行了调整，按照章程，经常务理事会、理事会通过了新的领导机构名单，新任会长皮东山。
  　　 4、2006年4月，协会举行换届大会，对理事会领导机构进行了调整，按照章程，经常务理事会、理事会通过了新的领导机构名单：会长皮东山，常务副会长叶正明，秘书长谢娟，会员单位由原36家增加为现86家
  　　 5、2010年9月，经会员大会不记名投票，协会第五届理事会产生，现任会长叶正明，秘书长谢娟，会员单位近200家。

  　　三、协会工作
  　　 协会自成立以来，主要工作如下：
  　　 1、协会针对房地产中介市场不规范及行业缺乏自律等状况，协会制定了《武汉市房地产中介行为规则（试行）》，为加强我市房地产中介企业自律，规范房地产市场行为，维护房地产市场秩序发挥了积极重要的作用。
  　　 2、连续多年举办武汉市房地产中介行业评选活动（诚信企业、星级经纪人、形象店面、形象售楼部等），加强行业职业道德建设，规范房地产中介行为，维护消费者合法权益，提高行业的信誉度和整体服务水平。
  　　 3、协会与会员单位抓住机遇，发挥行业优势，举办多次全市房地产中介交易会。
  　　 4、配合和参与对全市非法房地产中介机构进行清理、整顿工作，并取得预期效果，打击非法的房地产中介活动，维护市场的正常秩序和消费者的合法权益，促进了市场的健康发展。
  　　 5、举办全市经纪人培训班。
  　　 6、开展调研活动。协会在广泛听取会员单位对我市房地产市场反映出来的问题及加强市场建设的意见后，就市场存在的主要问题及解决意见向政府有关部门提出工作建议，以期为管理部门的决策和促进房地产市场的搞活和健康发展提供参考。
  　　 7、为会员单位做好信息服务工作，定期编印会刊，及时为会员单位提供最新的政策法规和行业发展动态，方便大家学习和运用国家、地方及主管部门的法律、法规、文件，自觉遵纪守法，诚信经营，切实做到为民服务。
  　　 8、组织学习考察活动。协会多次组织会员单位赴京、沪、深、港、台等地进行学习考察交流活动，加强行业的沟通和了解，开阔视野，为武汉房地产市场的发展注入新的活力。

