=javascript_include_tag 'jquery.backstretch.min'
=javascript_include_tag 'masonry.pkgd.min'
.row
  .col-md-10
    .row
      .col-md-12
        =render partial:'news2', locals:{news: @news}
    .row
      -Category.no_news.each do |cat|
        .col-md-4.col-xs-12.col-sm-6
          =render partial: 'block', locals:{icon_name:cat.icon_name, category: cat}
  .col-md-2
    .row
      -@ads.each do |ad|
        .col-mx-12
          %a.thumbnail{href: ad.link}
            =image_tag ad.img.url(:medium), alt: ad.desc

-if @partners.count > 0 
  %hr
  %h3 合作伙伴
  .row
    -@partners.each do |partner|
      .col-xs-6.col-sm-3
        %a.thumbnail{href: partner.link}
          =image_tag partner.img.url(:medium), alt: partner.desc, class:'img-rounded'