.wrapper1
  %section.row
    .col-sm-10.col-sm-offset-1
      .row
        .col-sm-3
          =image_tag 'fist.png', {height: 120, width: 120}
        .col-sm-9
          %h1.text-center.text-success
            Join Us Now
          %h3.text-center.text-muted
            为房地产市场繁荣稳定贡献力量
          %p.text-center
            =link_to "<span class='glyphicon glyphicon-registration-mark'></span>成为会员".html_safe, '#', {"class"=>'btn btn-danger btn-lg'}
%section
  .container
    .row
      .col-sm-4
        %h3.text-danger 活动
        .list-group
          - 7.times do  
            .list-group-item
              %h5.list-group-item-heading text on the right
              %p.list-group-item-text
                come together
              =link_to 'go', '#', {"class"  =>  "list-group-item-text"}
              %p.list-group-item-text.text-right
                ="at 2014-01-01"
      .col-sm-4
        %h3 通知
        -3.times do
          .panel.panel-default
            .panel-heading &nbsp;
            .panel-body
              .media
                %a.pull-left
                  =image_tag "fist.png", {:class => "media-object", height: 64, width: 64}
                .media-body
                  %h4.media-heading 道可道也
                  %p
                    道可道，非常道；名可名，非常名。无，名天地之始；有，名万物之母。故常无，欲以观其妙；常有，欲以观其徼。此两者同出而异名，同谓之玄，玄之又玄，众妙之门。
      .col-sm-4
        %h3 文件
        .list-group
          -7.times do 
            .list-group-item
              %h5.list-group-item-heading text on the right
              %p.list-group-item-text
                come together
              =link_to 'go', '#', {"class"  =>  "list-group-item-text"}
              %p.list-group-item-text.text-right
                ="at 2014-01-01"
%section.container
  %hr
  .row
    -3.times do 
      .col-xs-4.panel.text-danger
        %h1.text-center
          %span.glyphicon.glyphicon-floppy-open
        .caption.text-center
          %h3 存量房备案网上签约系统
