=javascript_include_tag 'jquery.backstretch.min'
=javascript_include_tag 'masonry.pkgd.min'
.row
  .col-md-10
    .row
      .col-md-8
        =render partial:'news', locals:{news: @news}
      .col-md-4
        =render partial:'credit', locals: {infos: @credit_infos}
    -if @counsils and @counsils.length > 0
      .row
        .col-md-12
          = render partial:'carousel', locals:{imgs: @counsils, div: 'council'}
        -#=image_tag c.logo.url(:medium), alt: c.name, class:'img-rounded  '
    .row
      -Category.no_news.each do |cat|
        .col-md-4.col-xs-12.col-sm-6
          =render partial: 'block', locals:{icon_name:cat.icon_name, category: cat}
  .col-md-2
    =render partial: 'ads'

-if @partners.count > 0 
  %hr
  %h3 合作伙伴
  .row
    -@partners.each do |partner|
      .col-xs-4.col-sm-2
        %a.thumbnail{href: partner.link, target: '_blank'}
          =image_tag partner.img.url(:thumb), alt: partner.desc, class:'partner-img'