=javascript_include_tag 'jquery.backstretch.min'
-#=javascript_include_tag 'masonry.pkgd.min'
.row
  .col-lg-8.col-md-8
    .row
      =render partial:'news', locals:{news: @news}
    .row
      -Category.no_news.each do |cat|
        .col-lg-4.col-xs-6 
          .thumbnail=render partial: 'block', locals:{icon_name:cat.icon_name, category: cat}
  .col-lg-4.col-md-4
    - 3.times do
      .row
        .panel= holder_tag('100%x100','ad1', 'sky')

.row
  .col-lg-12
    .widget-no-bottom
      %h4 合作伙伴
    .panel.panel-body
      -(1..4).each do |i|
        .col-xs-6.col-sm-3
          %a(href='#')
            =holder_tag '180x100', i, 'sky', class:'img-rounded'