// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  .navbar{
    margin-bottom:0px;
  }

  background-image: url(bg2.svg);
  background-color: #ffffff;
  background-repeat:repeat-x;
}
