// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg: #ff8700;
$footer-link-color: #AEA495;
$footer-bg-color:  #554e44;
$brand-primary: #ef4929;
.home {
  .navbar{
    margin-bottom:0px;
    border-top: 2px solid #ef4929;
    ul {
      font-size: 18px;
    }
    
  }

  hr {border:1px solid #D8D2C8;}
  
  .wrapper1{
    background-color:  #ffffff;
    background-position: 20% 50%;
    background-image: url(bg2.svg);
    color: #fff;
  }

  a:hover{ color: $brand-primary; background-color:transparent;text-decoration: none;}

  .base-ul-links {
    ul, a{color: $footer-link-color; 
    text-decoration: none;}
    a:hover{color: #fff;background-color: $footer-bg-color;}
  }
  .footer {
    @extend .base-ul-links;
    background-color: $footer-bg-color;
    color: #EDEBE4;
  }

  .large-link{
    @extend .base-ul-links;
    a:hover{color:  $footer-bg-color;background-color:transparent;}
    ul { font-size:16px;}
    li {margin-bottom: 10px;}
  }

  .label-default {
    background-color: lighten($footer-bg-color, 30%);
  }
}
