// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg: #ff8700;
$footer-link-color: #AEA495;
.home {
  .navbar{
    margin-bottom:0px;
    border-top: 2px solid #ef4929;
    ul {
      font-size: 18px;
    }
    
  }
  
  .wrapper1{
    background-color:  #ffffff;
    background-position: 20% 50%;
    background-image: url(bg2.svg);
    color: #fff;
  }
  .footer {
    background-color: #554e44;
    color: #EDEBE4;

    a{color: $footer-link-color}
    a:hover{color: lighten($footer-link-color, 0.2)}
  }
}
