%footer.footer
  .container
    %br
    .row
      .col-sm-4
        %p &copy;2014 武汉市房地产中介协会
        %p 技术支持：武汉速房科技有限公司
      .col-sm-2
        %h5 关于
        %ul.list-unstyled
          %li=link_to '宗旨', '#'
          %li=link_to '章程', '#'
          %li=link_to '历史沿革', '#'
      .col-sm-2
        %h5 联系我们
        %ul.list-unstyled
          %li 武汉房地产交易大厦二楼大厅
          %li 
            %span.glyphicon.glyphicon-phone-alt 85482022