%header
  .navbar-static-top.navbar-default

    .navbar-header
      %a.navbar-brand{href: root_path}
        =image_tag 'logo.png', height: 60

      %button.navbar-toggle{type:"button", "data-toggle"=> "collapse","data-target"=>"#nb"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .container.nav-primary
      #nb.navbar-collapse.collapse

        %ul.nav.navbar-nav
          - Category.first_level.top.each do |c|
            %li= link_to c.name, cat_path(c.ename)
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in? 
            %li= link_to '退出', destroy_user_session_path, :method=>:delete  
            %li= link_to glyphicon('cog'), control_path
          - else
            %li
              =link_to '登陆',  new_user_session_path 