<% content_for :leftnav do %>
 <ul class="nav nav-pills nav-stacked">
	<li><%=link_to '公告', news_index_path(t: :n) %></li>
	<li><%=link_to '活动', news_index_path(t: :e)  %></li>
	<li><%=link_to '动态', news_index_path(t: :t)  %></li>
 </ul>
<% end %>
<%= render template: "layouts/application" %>