<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">单位名称</Data></Cell>
        <Cell><Data ss:Type="String">缴费年度</Data></Cell>
      </Row>
    <% @fees.each do |fee| %>
      <Row>
        <Cell><Data ss:Type="String"><%= fee.member.name%></Data></Cell>
        <Cell><Data ss:Type="String"><%= fee.year %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>